{% extends 'base.html' %}

{% load static %}

{% block title %} Art Files {% endblock %}


{% block content %}
<div class="container">
	<div class="row">	
		{% if art_files %}
			{% for records in art_files %}
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
					
					  <div>
					  <img class="card-img-top" src= "{% static 'images/' %}{{records.diety_image}}" alt = "{{ records.diety_name }}"> 
					  </div>

					  <div class="card-body">
					    <h5 class="card-title">{{ records.diety_name }}</h5>
					    <p class="card-text">{{ records.file_name }}</br>
					    				     {{ records.file_size }}</br>


					    </p>
					    <a href="{% url 'download' %}" class="btn btn-secondary">Download</a>
					  </div>
					</div>
				</div>

		{% endfor %}
	{% endif %}
	</div>				
</div>

<div>

</div>

{% endblock %}
